<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilo.css')}}">
	</head>
	<body>
		<div class="top-bar">
			<span class="cookie-notice">Esse site utiliza cookies! <i class="fa-solid fa-cookie-bite"></i></span>
			<span class="welcome-text"><h2>Olá {{nome}}! <i class="fa-solid fa-face-smile-beam"></i></h2></span>
				<br>
			<form action="/sair" method='GET'>
				<button type='submit' class="exit-btn"><i class="fa-solid fa-person-walking-arrow-right"></i></button>
			</form>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="caixa">
				<h1 class="texto-principal">Seus animais </h1>
				<button id="openFormBtn" class="letra-bonitinha">Cadastrar Animal</button>
				<br>
				<br>
				<h1><i class="fa-solid fa-crow"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i><i class="fa-solid fa-crow"></i><i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i><i class="fa-solid fa-crow"></i><i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i><i class="fa-solid fa-crow"></i><i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i><i class="fa-solid fa-crow"></i><i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i></h1>
				<div id="formModal" class="modal">
					<!-- Conteúdo do Pop-up -->
					<div class="modal-content">
						<span class="close-btn">&times;</span>
						<form action="/inicio" method='POST' enctype="multipart/form-data">
							<br>
							<br>
							<h1>Cadastrar um novo animal</h1>
							<br>
							<br>
							<img id="imgPreview" class="card-img" src="#" alt="Pré-visualização da imagem" style="display: none;">
							<br>
							<br>
							<div class="custom-file-upload">
								<label for='foto'>Clique aqui se quiser adicionar uma foto &nbsp;<i class="fa-solid fa-file-image"></i></label>
								<input type='file' id='foto' name='foto' accept="image/" class="form-inputs" onchange="previewImage(event)">
							</div>
							<br>
							<br>
							<div class="label-float">
								<input type='text' id='nome' name='nome' class="form-inputs" required>
								<label for='nome'class="form-label">Digite o nome do animal</label>
							</div>
							<div class="label-float">
								<input type='text' id='animal' name='animal' class="form-inputs" required>
								<label for='animal'class="form-label">Digite a espécie do animal</label>
							</div>
							<br>
							<button type='submit' class="new-animal-btn">Cadastrar</button>
						</form>
					</div>
				</div>
				<div class="card-container">
					{% for linha in animais %}
					<div class="card">
						<img src="{{ linha[1] }}" alt="Foto" class="card-img">
						<div class="card-content">
							<h2><b>{{ linha[2] }}</b></h2> 
							<p>{{ linha[3] }}</p>
							<div class="card-buttons">
								<form action="/inicio/editar/{{linha[0]}}" method='GET'>
									<button type='submit' class="edit-btn"><i class="fa-solid fa-pencil"></i></button>
								</form>
								<form id="funcExcluir" action="/inicio/{{linha[0]}}" method='POST'>
									<button type='submit' class="delete-btn"><i class="fa-solid fa-trash-can"></i></button>
								</form>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<br>
			</div>
		</div>
		<br>
		<br>
		<br>
		<script src="https://kit.fontawesome.com/d03daeff12.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			var modal = document.getElementById("formModal");
			var btn = document.getElementById("openFormBtn");
			var span = document.getElementsByClassName("close-btn")[0];
			
			// Quando o usuário clica no botão, o modal é exibido
			btn.onclick = function() {
				modal.style.display = "block";
			}
			
			// Quando o usuário clica no botão de fechar, o modal é escondido
			span.onclick = function() {
				modal.style.display = "none";
			}
			
			// Quando o usuário clica em qualquer lugar fora do modal, ele também é escondido
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>		

		<script>
			document.addEventListener('DOMContentLoaded', function() {
				document.body.addEventListener('submit', function(event) {
					if (event.target && event.target.id === 'funcExcluir') {
						event.preventDefault();

						const form = event.target;  // Captura a referência correta ao formulário

						Swal.fire({
							title: "Você tem certeza?",
							text: "Essa ação não é reversível!",
							icon: "warning",
							showCancelButton: true,
							confirmButtonColor: "#3085d6",
							cancelButtonColor: "#d33",
							confirmButtonText: "Sim, excluir!",
							cancelButtonText: "Cancelar"
						}).then((result) => {
							if (result.isConfirmed) {
								Swal.fire({
									title: "Excluído!",
									text: "Seu pet foi excluído.",
									icon: "success"
								}).then(() => {
									form.submit();  // Submete o formulário após confirmação
								});
							}
						});
					}
				});
			});
		</script>

		<script>
			function previewImage(event) {
				var reader = new FileReader();
				var imageField = document.getElementById("imgPreview");

				reader.onload = function() {
					if (reader.readyState == 2) {
						imageField.src = reader.result;
						imageField.style.display = "block";
					}
				}

				reader.readAsDataURL(event.target.files[0]);
			}
		</script>

	</body>
</html>
