<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='autenticacao.css')}}">
	</head>
	<body>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="caixa">
				<h1>Login</h1>
				{% if msgErro %}
					<div id="msgError">{{msgErro}}</div>
				{% endif %}
				<form action="/login" method='POST'>
					<div class="label-float">
						<input type='text' id='usuario' name='usuario' required>
						<label for='usuario'>Digite seu nome de usuário</label>
					</div>
					<div class="label-float">
						<input type='password' id='senha' name='senha' required>
						<label for='senha'>Digite sua senha</label>
					</div>
					<br>
						<button type='submit' class="login-btn">Entrar</button>
				</form>
				<h1><i class="fa-solid fa-crow"></i><i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i><i class="fa-solid fa-hippo"></i><i class="fa-solid fa-fish-fins"></i><i class="fa-solid fa-otter"></i></h1>
				<p> Não tem uma conta?
				<br>
				<a href="cadastro"> Cadastre-se </a>
				</p>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/d03daeff12.js" crossorigin="anonymous"></script>
	</body>
</html>

